<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<form th:action="@{/login}" th:object="${home}" method="POST">
		<h2 th:text="${home}" />
		<h2>Login</h2>
		<table>
			<tr>
			<!--	<p>Press For Login</p>-->
				<td><input type="submit" value="Login Here" /></td>
				<!--<a href="login">Login Here</a>-->
			</tr>
		</table>
	</form>
	
		<form th:action="@{/register}" th:object="${home}" method="POST">
		<h2>Registeration</h2>

		<table>
			<tr>
			<!--	<p>Press For Login</p>-->
				<td><input type="submit" value="Register Here" /></td>
				<!--<a href="login">Login Here</a>-->
			</tr>
		</table>
	</form>
	
</body>

</html>