<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Good Thymes Virtual Grocery</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Login Here</h1>

	<!--	<h2 th:text="${login}"/>-->
	<form th:action="@{/submit}" th:object="${user}" method="POST">

		<div class="form" style="align-self: center;">
			<table>

				<tr>

					<td>User Name</td>
					<td><input type="text" th:field=*{userName} placeholder="Enter UserName" /></td>
					<td style="color: red;"><span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span></td>
				</tr>

				<tr>

					<td>User Password</td>
					<td><input type="text" th:field=*{userPassword} placeholder="Enter Password" /></td></br>
					<td style="color: red;"><span th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></span></td>
				</tr>


				<tr>

					<td></td>
					<td><input type="submit" value="Submit" style="align-self: center;"/></td>

				</tr>

			</table>
		</div>


	</form>
	<a href="/">Go To Home</a>
</body>

</html>